---
title: About - LPS Pavement Company
---

<div class="container mx-auto px-4">
    <h1 class="font-bold text-primary text-4xl mb-24 mt-10">About LPS Pavement</h1>

    <h2 class="text-3xl font-semibold">An Industry Leader</h2>
    <p class="text-gray-800 font-medium leading-relaxed text-2xl mt-6">When you work on a project that will have a direct
        effect on your property value,
        you need the guidance of an industry leader like LPS Pavement Company.
        For the past thirty-one years, LPS has been building a reputation based on
        professionalism, reliability, and service - qualities that make us the industry leader. <br> <br>

        From system and design consultation to material selection,
        skilled installation and complete follow-up, we provide
        beginning-to-end service. We also offer the largest selection
        of paving stones in the market. Distinct shapes like Normandy
        and Holland will add variety and flair to any area. Custom coloring
        is also available, allowing you to perfectly accent any building or
        architectural style. Whatever mood you choose to create, LPS has the
        tools to provide the look.</p>

    <h2 class="text-3xl font-semibold mt-8">Quality Installation</h2>
    <p class="text-gray-800 font-medium leading-relaxed text-2xl mt-6">While paving systems boost curb appeal, 
        increase property value and maximize an owner’s return on investment, quality 
        installation is the most important ingredient for success. As the industry leader, 
        LPS Pavement Company takes pride in offering the finest, most thorough installation 
        services in the nation. Our installation professionals are the best in the business, 
        which is why LPS has a reputation for excellence on even the most complex installation 
        projects.</p>

    <h2 class="text-3xl font-semibold mt-8">Professionalism and Experience</h2>
    <p class="text-gray-800 font-medium leading-relaxed text-2xl mt-6">The LPS team is 
        known for dependability, integrity, and unwavering dedication to quality. From 
        routine to complex, each installation receives the same care and enthusiasm from 
        our experienced personnel. When your project demands professionalism and reliability, 
        you can trust the LPS Pavement Company team. <br> <br>

        The benefits of paving systems are endless and the applications are truly broad in scope. 
        Let the professional, efficient LPS team put those advantages to work for you with top 
        quality installation and service – simplifying your job and satisfying your clients.</p>
</div>

<script src="../js/layout.js"></script>