---
title: Testimonials - LPS Pavement Company
---

<div class="container mx-auto px-4">
    <h1 class="font-bold text-primary text-4xl mb-24 mt-10">Testimonials</h1>

    <div class="test-group">
        <img src="../assets/images/dut.jpg" alt="Dominican University Logo" srcset="">
        <p>
            Dominican University
            Dan Bulow, Director of Buildings & Grounds

            "The installation process went very smoothly and didn't interrupt the flow of 
            work here at the University. They're one of the only companies that could do a job
            of this size and do it professionally."
        </p>
    </div>

    <div class="test-group">
        <img src="../assets/images/dut.png" alt="Dominican University Logo" srcset="">
        <p>
            Martam Construction, Inc.
            Mark Hughes, Project Manager

            "One of the things I really like about LPS is that they're very flexible. 
            Their crews seem to really accommodate our work crews. It's nice to have a 
            contractor you can rely on that works closely with you."
        </p>
    </div>

    <div class="test-group">
        <img src="../assets/images/dut.png" alt="Dominican University Logo" srcset="">
        <p>
            McHugh Construction
            Michael C. Gould, Millennium Park Project Executive

            "LPS is very capable, very competent, and reasonable to work with. 
            They were instrumental in the success of the final phase of this project."
        </p>
    </div>

    <div class="test-group">
        <img src="../assets/images/dut.png" alt="Dominican University Logo" srcset="">
        <p>
            MIC Construction
            Dennis Kintop, President

            "The quality of the work far exceeds that of anyone else who does pavers. 
            It's the only company I like to use."
        </p>
    </div>

    <div class="test-group">
        <img src="../assets/images/dut.png" alt="Dominican University Logo" srcset="">
        <p>
            City of Naperville
            Mark Johnson, Field Supervisor - Downtown Business District

            "The job is always done in a first-class, professional manner and the results 
            are top-notch. I'm always happy to do business with LPS."
        </p>
    </div>

    <div class="test-group">
        <img src="../assets/images/dut.png" alt="Dominican University Logo" srcset="">
        <p>
            Pepper Construction
            Richard Mueller, Project Vice President

            "I'd have no qualms in recommending LPS. They've done great work in the 
            past and I'd have no doubt they'd do a fine job in the future."
        </p>
    </div>

    <div class="test-group">
        <img src="../assets/images/dut.png" alt="Dominican University Logo" srcset="">
        <p>
            Wausau Tile
            Doug Hahn, Manufacturer Representative

            "Because of LPS's extensive knowledge, experience, and professionalism, 
            I confidentially refer them and seek their consultation when I run into 
            situations beyond my expertise."
        </p>
    </div>

</div>

<script src="../js/layout.js"></script>